.navbar {
  width: calc(100% - var(--app-padding) * 2);
  height: 100px;
  background: #f9f9f9;
  padding-left: var(--app-padding);
  padding-right: var(--app-padding);
  box-shadow: 0 4px 77px -26px rgba(0, 0, 0, 0.25);
  margin-bottom: 34px;

  &__wrapper {
    height: 100px;
    display: flex;
    justify-content: space-between;
  }

  &__items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__burger {
    display: none;
    background: none;
    border: none;
  }
}

.burger-menu {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: #f9f9f9;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 40px;
  gap: 24px;
  visibility: hidden;
  transition:
    right 0.5s ease,
    visibility 0.5s ease;

  &--open {
    right: 0;
    visibility: visible;
  }

  &__close {
    align-self: flex-end;
    margin-right: var(--app-padding);
    background: none;
    border: none;
  }

  &__subitems {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__subitem {
    background: none;
    border: none;
    font-weight: 300;
    font-size: var(--text-lg-size);
    padding: 0;
    text-align: left;
    padding-left: 40px;
  }

  app-link {
    .arrow-link {
      flex-direction: row-reverse;
      gap: 12px;

      &__text {
        font-size: var(--text-lg-size);
      }
    }
  }
}

.burger-menu-overlay {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: transparent;
  z-index: 200;
  transition:
    background 0.5s ease,
    visibility 0.5s ease;

  &--open {
    background: rgba(0, 0, 0, 0.5);
    right: 0;
    visibility: visible;
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    &__items-wrapper {
      display: none;
    }

    &__burger {
      display: block;
    }
  }

  .burger-menu {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    box-shadow: 0 10px 110px -18px rgba(0, 0, 0, 0.35);

    &__items-wrapper {
      display: none;
    }

    &__burger {
      display: block;
    }
  }

  .burger-menu {
    width: 100%;
  }
}
