.lecturers-list {
  &__header {
    margin-bottom: 60px;
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__header {
      width: min-content;
    }

    &__title {
      font-size: var(--text-xl-size);
      font-weight: 500;
    }

    app-divider {
      .divider {
        height: 5px;
      }
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 20px;

      @media (max-width: 1200px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
