.books-page {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__filters {
    min-width: 200px;
    width: 45%;
  }

  &__content {
    &__list {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 20px;

      @media (max-width: 1200px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }

    &__pagination {
      margin-top: 24px;
      display: flex;
      gap: 8px;
      justify-content: center;

      button {
        background: none;
        border: none;
        font-weight: 300;
        font-size: var(--text-md-size);

        svg {
          color: #12a1dd;
        }

        &.active {
          color: #12a1dd;
        }

        &:disabled {
          svg {
            color: #ccc;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .books-page {
    &__filters {
      width: 100%;
    }
  }
}
