.arrow-link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  background: none;
  border: none;
  text-align: left;

  &__text {
    font-size: var(--text-md-size);
    font-weight: bold;
    color: black;
  }
}
