.arrow-link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  background: none;
  border: none;

  &__text {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
}
