.qualifications-page {
  display: flex;
  flex-direction: column;
  gap: 36px;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__header {
      font-size: var(--text-lg-size);
      font-weight: 500;
    }

    table {
      border-collapse: collapse;
    }

    thead,
    tr {
      border-bottom: 1px solid black;
    }

    th,
    td {
      padding: 16px 8px;
      text-align: left;
      font-size: var(--text-md-size);
      font-weight: 300;

      p.linked {
        color: #12a1dd;
        cursor: pointer;

        &:hover {
          color: #116082;
        }
      }
    }
  }
}
