<div class="qualifications-page">
  <h2 class="header">Список випускних робіт</h2>
  @for (quals of qualifications | keyvalue; track quals.key) {
    <section class="qualifications-page__section">
      <h3 class="qualifications-page__section__header">
        {{ degreeMapping[degree] }} роботи студентів кафедри {{ quals.key }} на {{ startYear }}-{{
          endYear
        }}
        н.р
      </h3>
      <div class="qualifications-page__section__table-wrapper">
        <table>
          <thead>
            <tr>
              <th>№</th>
              <th>П.І.Б. студента</th>
              <th>Тема роботи</th>
              <th>Науковий керівник</th>
            </tr>
          </thead>
          <tbody>
            @for (qual of quals.value; track qual.id; let i = $index) {
              <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ qual.studentName }}</td>
                <td>{{ qual.qualificationName }}</td>
                <td>
                  <p
                    [ngClass]="{ linked: qual.supervisor.lecturerId }"
                    (click)="
                      qual.supervisor.lecturerId &&
                        navigateToLecturer(qual.supervisor.lecturerId.slug)
                    "
                  >
                    @if (qual.supervisor.lecturerId) {
                      {{ qual.supervisor.lecturerId.name }}
                      {{ qual.supervisor.lecturerId.surname[0] }}.
                      {{ qual.supervisor.lecturerId.middleName?.[0] }}.
                    } @else {
                      {{ qual.supervisor.name }}
                    }
                  </p>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </section>
  }
</div>
