.qualifications-page {
  display: flex;
  flex-direction: column;
  gap: 36px;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__header {
      font-size: var(--text-lg-size);
      font-weight: 500;
    }

    &__table-wrapper {
      max-width: 100%;
      overflow-x: auto;
    }

    table {
      width: 100%;
      table-layout: auto;
      border-collapse: collapse;
    }

    thead,
    tr {
      border-bottom: 1px solid black;
    }

    th,
    td {
      padding: 16px 8px;
      text-align: left;
      font-size: var(--text-md-size);
      font-weight: 300;

      p.linked {
        color: #12a1dd;
        cursor: pointer;

        &:hover {
          color: #116082;
        }
      }
    }

    td:nth-child(2) > *,
    td:nth-child(3) > *,
    td:nth-child(4) > * {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: 1024px) {
  .qualifications-page {
    &__section {
      &__header {
        font-size: var(--text-md-size);
      }

      &__table-wrapper {
        max-width: 100%;
        overflow-x: auto;
      }

      table {
        width: max-content;
        table-layout: fixed;
      }

      th,
      td {
        white-space: normal;
      }

      td:nth-child(2) > *,
      td:nth-child(3) > *,
      td:nth-child(4) > * {
        overflow: visible;
        text-overflow: unset;
        white-space: normal;
      }

      &__header {
        margin-bottom: 8px;
      }
    }
  }
}
