.about-page {
  display: flex;
  flex-direction: column;
  gap: 64px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__description {
      font-weight: 300;
      font-size: var(--text-md-size);
    }

    &__count {
      display: flex;
      justify-content: space-between;
      width: 80%;
    }

    .prof-count {
      display: flex;
      flex-direction: column;
      align-items: start;

      &__number {
        font-weight: 500;
        font-size: var(--text-4xl-size);
        color: #12a1dd;
      }

      &__label {
        font-weight: 500;
        font-size: var(--text-xl-size);
      }
    }
  }

  &__programs {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .program-short {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &__description {
        font-weight: 300;
        font-size: var(--text-lg-size);
      }

      &__table {
        border: 2px solid #12a1dd;
        border-spacing: 0;
        border-radius: 12px;
        overflow: hidden;

        td:first-child {
          border-right: 2px solid #12a1dd;
          border-bottom-left-radius: 10px;
        }

        td {
          width: 50%;
          padding: 28px 20px;
        }

        &__name {
          font-weight: 500;
          font-size: var(--text-lg-size);
          margin-bottom: 16px;
        }

        &__description {
          font-weight: 300;
          font-size: var(--text-md-size);
        }

        ul {
          margin: unset;
        }
      }
    }
  }

  &__students {
    &__header {
      font-weight: 500;
      font-size: var(--text-xl-size);
      margin-bottom: 32px;
    }

    &__subheader {
      font-weight: 500;
      font-size: var(--text-lg-size);
      margin-bottom: 24px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }

    &__item {
      font-weight: 300;
      font-size: var(--text-md-size);
    }
  }

  &__companies {
    &__content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;

      h3 {
        width: 50%;
        font-weight: 500;
        font-size: var(--text-lg-size);
      }

      img {
        max-height: 238px;
      }
    }

    &__more {
      font-weight: bold;
      font-size: var(--text-md-size);
    }

    &__invite {
      font-weight: 300;
      font-size: var(--text-md-size);
      margin-bottom: 16px;
    }
  }

  .blue {
    color: #12a1dd;
  }
}
