.lecturare-page {
  &__header {
    margin-bottom: 60px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__top-section {
    display: flex;
    gap: 40px;
    align-items: center;

    &__photo {
      max-width: 230px;
      max-height: 350px;
      border-radius: 12px;
      box-shadow: 0 12px 32px rgba(0, 0, 0, 0.18);
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    &__name {
      width: fit-content;
      font-weight: 500;
      font-size: var(--text-xl-size);
      display: inline-block;
      border-bottom: 5px solid #12a1dd;
    }

    &__titles {
      font-weight: 300;
      font-size: var(--text-md-size);
    }

    &__urls {
      font-size: var(--text-md-size);
      font-weight: bold;
    }

    &__url {
      color: black;
      font-weight: 300;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__header {
      font-size: var(--text-lg-size);
      font-weight: bold;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 12px;
      font-size: var(--text-md-size);
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 576px) {
  .lecturare-page {
    &__header {
      margin-bottom: 30px;
    }

    &__top-section {
      flex-direction: column;
      gap: 24px;

      &__photo {
        max-width: 100%;
        max-height: none;
      }
    }
  }
}
