.history-page {
  display: flex;
  flex-direction: column;
  gap: 36px;

  &__section {
    &__header {
      font-size: var(--text-lg-size);
      font-weight: bold;
      margin-bottom: 20px;
    }

    &__item {
      font-size: var(--text-md-size);
      font-weight: 300;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
    }

    &__item:last-child {
      margin-bottom: unset;
    }

    app-lecturer-card {
      float: left;
      margin: 20px;
      margin-left: unset;
    }
  }
}

@media screen and (max-width: 1024px) {
  .history-page {
    &__section {
      app-lecturer-card {
        float: unset;
      }
    }
  }
}
