<div class="history-page">
  <h1 class="header">Історія кафедри</h1>
  <section class="history-page__section">
    <h3 class="history-page__section__header">1990-2001 рр.</h3>
    <p class="history-page__section__item">
      В зв'язку з бурхливим розвитком інформатики, як окремої галузі науки, що виділилася в межах
      кібернетики, в Київському державному університеті імені Тараса Григоровича Шевченка в травні
      1990 року на факультеті кібернетики за наказом ректора № 323-32 від 03.05.1990 р. була
      створена нова кафедра загальної інформатики.
    </p>
    <app-lecturer-card [lecturer]="popov"></app-lecturer-card>
    <p class="history-page__section__item">
      Завідувачем кафедри був призначений вихованець кафедри економічної кібернетики факультету
      кібернетики Київського університету, доктор технічних наук, професор Юрій Дмитрович Попов,
      який до того працював завідувачем кафедри дослідження операцій факультету кібернетики
      Київського університету.
    </p>
    <p class="history-page__section__item">
      Головним завданням в майбутній роботі кафедри було визначено викладання дисциплін з
      інформатики та обчислювальної техніки на неспеціалізованих факультетах, забезпечення наукового
      та методичного керівництва розробкою комп‘ютерних технологій навчання та управління. В
      1990–1992 роках кафедра була обслуговуючою, з 1992 року стала випускаючою.
    </p>
    <p class="history-page__section__item">
      Згідно з ухвалою Вченої Ради Київського національного університету імені Тараса Шевченка від 1
      червня 1998 року, у зв'язку зі зміною тематики наукових досліджень, кафедру було перейменовано
      на кафедру інформаційних систем.
    </p>
    <p class="history-page__section__item">
      В цей час на ній працювало 9 штатних викладачів, у тому числі: 1 доктор наук, 5 доцентів,
      кандидатів наук, 3 асистента, 4 співробітника (із них 3 – співробітники НДЧ).
    </p>
    @if (!popovFull) {
      <app-link [text]="'Читати далі'" (click)="popovFull = true"></app-link>
    } @else {
      <p class="history-page__section__item">
        Навчальний процес завжди був тісно пов'язаний з актуальними дослідженнями науки і техніки.
        За час існування кафедри викладачами та співробітниками НДЧ виконувались науково-дослідні
        роботи за планами ДКНТ та Міносвіти, пов'язані зі створенням автоматизованих інформаційних
        та навчаючих систем.
      </p>
      <p class="history-page__section__item">
        Під керівництвом професорів Попова Ю.Д. та Провотаря О.І. виконувалась наукова робота в
        рамках наукових програм Київського національного університету імені Тараса Шевченка
        "Перспективні інформаційні технології, пристрої комплексної автоматизації, системи зв'язку",
        "Розробка систем інтелектуалізації інформаційних технологій та дистанційного навчання",
        "Створення теоретичних основ, методів та засобів інтелектуалізації
        інформаційно-комунікаційних технологій для розподілених комп'ютерних систем"
      </p>
      <p class="history-page__section__item">
        На кафедрі успішно розв'язуються задачі автоматизації процесу обробки облікової та
        управлінської інформації. Були розроблені нові версії систем автоматизації управлінської
        діяльності вищого навчального закладу, реалізовані нові апаратні та програмні компоненти
        комп'ютерної мережі Київського національного університету імені Тараса Шевченка.
      </p>
      <p class="history-page__section__item">
        Розроблено та впроваджено в Льотно-дослідницькому інституті методику і програмний комплекс
        попередньої обробки сплайн-функціями інформації, яка циклічно змінюється, нові методи
        усунення неоднозначності, яка виникає при багато-шкальних вимірюваннях.
      </p>
      <p class="history-page__section__item">
        У 2000 році на сервері факультету кібернетики за адресою www.unicyb.kiev.ua
        розміщено WEB-сайт факультету кібернетики, розроблений групою студентів кафедри під
        керівництвом професора Попова Ю.Д. та доцента Шевченка В.П.
      </p>
      <p class="history-page__section__item">
        Завдяки сайту відкрився доступ до електронної бібліотеки факультету кібернетики, до
        відповідних розділів, присвячених окремим навчальним курсам, науковим роботам студентів, їх
        науковим, виробничим та іншим досягненням. Так, наприклад, була створена та підключена до
        мережі Internet навчальна електронна бібліотека факультету кібернетики з таких нормативних
        курсів: "Дискретна математика", "Програмування", "Дослідження операцій", "Методи
        оптимізації", "Бази даних", "Основи проектування баз знань", "Теорія оптимального
        керу-вання" та багатьох спеціальних курсів.
      </p>
      <app-link [text]="'Згорнути'" (click)="popovFull = false"></app-link>
    }
  </section>
  <section class="history-page__section">
    <h3 class="history-page__section__header">2001-2003 рр.</h3>
    <p class="history-page__section__item">
      У зв'язку з виходом на пенсію Ю.Д. Попова, з вересня 2001 року (до вересня 2003 р.) обов'язки
      завідувача кафедри виконував кандидат фізико-математичних наук, доцент Бублик Володимир
      Васильович.
    </p>
    <app-lecturer-card [lecturer]="bublyk"></app-lecturer-card>
    <p class="history-page__section__item">
      Виконуючому обов'язки завідувача кафедри – В.В. Бублику вдалося зберегти колектив, дружню і
      творчу атмосферу.
    </p>
    <p class="history-page__section__item">
      Зміна назви кафедри, яка відбулася кількома роками раніше, відобразила нові тенденції в
      переміщенні центру ваги наукових інтересів кафедри у напрямку сучасних технологій розробки
      інформаційних систем, зокрема проектування програмного забезпечення, в першу чергу для
      застосувань у мережі Інтернет, розвитку електронного навчання, застосуванням сучасних
      технологій мультимедіа.
    </p>
    <p class="history-page__section__item">
      За активної участі доцента Шевченка В.П. було розроблено навчальний план нової спеціальності з
      програмного забезпечення, впровадження якої привело до значного зростання інтересу студентів
      до проблематики кафедри.
    </p>
    <p class="history-page__section__item">
      Навчальний план розроблявся на підставі рекомендацій АСМ і спирався значною мірою на виховання
      навиків практичної роботи в першу чергу за рахунок використання групових методів розробки
      інформаційних систем.
    </p>
    @if (!bublykFull) {
      <app-link [text]="'Читати далі'" (click)="bublykFull = true"></app-link>
    } @else {
      <p class="history-page__section__item">
        На підтримку групових методів розробки було підготовлено та подано на розгляд Європейської
        Комісії спільний європейський проект за програмою ТЕМПУС за участю провідних університетів
        Європи та України.
      </p>
      <p class="history-page__section__item">
        Науково-дослідна робота кафедри проводилась згідно з програмою "Інформатизація суспільства".
        У цей період були створені програмні оболонки для дистанційних курсів, досліджувались
        інформаційні технології електронного навчання, зокрема, дистанційного. На факультеті
        кібернетики була розгорнута експериментальна версія системи адміністрування навчальним
        процесом OpenUSS.
      </p>
      <p class="history-page__section__item">
        На кафедрі працює науковий семінар студентів-старшокурсників і аспірантів. Учасниками
        семінару були створені і реалізовані на платформі ІЛІАС електронні навчальні курси з
        об'єктно-орієнтованого програмування мовами С++, Java, C#, проектування програмного
        забезпечення, іноземних мов та інші.
      </p>
      <app-link [text]="'Згорнути'" (click)="bublykFull = false"></app-link>
    }
  </section>
  <section class="history-page__section">
    <h3 class="history-page__section__header">2003-сьогодні</h3>
    <p class="history-page__section__item">
      З вересня 2003 р. кафедрою завідує доктор фізико-математичних наук, професор Олександр
      Іванович Провотар.
    </p>
    <app-lecturer-card [lecturer]="provotar"></app-lecturer-card>
    <p class="history-page__section__item">
      Новим завідувачем кафедри були зроблені кроки в напрямку розробки нових нормативних та
      спеціальних курсів, що дозволило відкрити нову спеціальність "Програмне забезпечення
      автоматизованих систем" за напрямком "Комп'ютерні науки".
    </p>
    <p class="history-page__section__item">
      Викладачі кафедри читають лекції з дискретної математики, програмування, алгоритмів, логіки та
      теорії складності, загальної алгебри, алгоритмів та структур даних, комп'ютерних мереж,
      нейронних мереж, розподілених обчислень, системного програмування і операційних систем,
      інформаційних систем, програмної інженерії, захисту інформації, комп'ютерної алгебри,
      комп'ютерної графіки, технології програмування та інші.
    </p>
    <p class="history-page__section__item">
      Зміцнилися зв'язки з установами НАН України та університетами, що займаються подібною
      тематикою наукових досліджень. Зокрема, з Інститутом кібернетики імені В.М. Глушкова НАН
      України, Національним технічним університетом "Київський політехнічний інститут".
    </p>
    <div class="history-page__section__item">
      <p>Кафедра підтримує наукові зв'язки зі спорідненими кафедрами:</p>
      <ul>
        <li>НаУКМА,</li>
        <li>Лейпцігського університету,</li>
        <li>Технічного університету м. Берлін,</li>
        <li>Університету м. Констранц,</li>
        <li>Оксфордського університету,</li>
        <li>Університету м. Кардіфф,</li>
      </ul>
    </div>
    @if (!provotarFull) {
      <app-link [text]="'Читати далі'" (click)="provotarFull = true"></app-link>
    } @else {
      <div class="history-page__section__item">
        <p>а також з провідними ІТ-компаніями:</p>
        <ul>
          <li>Microsoft,</li>
          <li>EPAM Systems,</li>
          <li>ABBYY Україна,</li>
          <li>Informix,</li>
          <li>1C Україна.</li>
        </ul>
      </div>
      <p class="history-page__section__item">
        Розширилось коло міжнародних зв'язків кафедри зі спорідненими кафедрами Жешувського
        університету (Польща) та університету міста Агдер (Норвегія).
      </p>
      <div class="history-page__section__item">
        <p>
          З 2006-го року на кафедрі діє науковий семінар "Інтелектуальні інформаційні системи". В
          рамках семінару заслуховуються та обговорюються доповіді за наступними напрямками:
        </p>
        <ul>
          <li>Нейро-нечіткі системи.</li>
          <li>Мультиагентні системи.</li>
          <li>Системи на основі знань.</li>
          <li>Рекомендаційні системи.</li>
          <li>Експертні системи.</li>
          <li>Дискретні динамічні системи.</li>
          <li>Обчислювальний інтелект.</li>
          <li>М'які обчислення.</li>
          <li>Еволюційні обчислення.</li>
          <li>Специфікація та верифікація програмних систем.</li>
        </ul>
      </div>
      <div class="history-page__section__item">
        <p>Також в рамках семінару відбувається апробація дисертаційних робіт зі спеціальностей:</p>
        <ul>
          <li>01.05.01 — «Теоретичні основи інформатики та кібернетики»;</li>
          <li>01.05.03 — «Математичне і програмне забезпечення обчислювальних машин та систем»;</li>
          <li>05.13.06 — «Інформаційні технології»;</li>
          <li>05.13.23 — «Системи та засоби штучного інтелекту».</li>
        </ul>
      </div>
      <div class="history-page__section__item">
        <p>
          Нині на кафедрі працюють 4 професори, 13 доцентів та 2 асистенти, які забезпечують
          підготовку бакалаврів за спеціальностями:
        </p>
        <ul>
          <li>
            121 Інженерія програмного забезпечення (освітня програма "Програмна інженерія",
            факультет кібернетики),
          </li>
          <li>
            122 Комп'ютерні науки та інформаційні технології (освітня програма "Інформатика",
            факультет кібернетики),
          </li>
          <li>051 Економіка (освітня програма "Економічна кібернетика", економічний факультет),</li>
          <li>
            035.10 Філологія (прикладна лінгвістика) (освітня програма "Прикладна лінгвістика та
            англійська мова", інститут філології),
          </li>
        </ul>
      </div>
      <div class="history-page__section__item">
        <p>та магістрів за спеціальностями:</p>
        <ul>
          <li>
            121 Інженерія програмного забезпечення (освітня програма "Програмне забезпечення
            систем", факультет кібернетики),
          </li>
          <li>
            122 Комп'ютерні науки та інформаційні технології (освітня програма "Бізнес-інформатика",
            факультет кібернетики).
          </li>
        </ul>
      </div>
      <p class="history-page__section__item">
        На кафедрі навчається понад 170 студентів та 3 аспіранти.
      </p>
      <app-link [text]="'Згорнути'" (click)="provotarFull = false"></app-link>
    }
  </section>
</div>
