<div class="footer">
  <div class="footer__logo">
    <a href="/"><img src="img/logo.png" alt="Logo" /></a>
    <span class="small-text"
      >Кафедра інтелектуальних <br />
      програмних систем</span
    >
  </div>
  <div class="footer__contacts">
    <h3 class="semi-header">Контакти:</h3>
    <div class="footer__list">
      <span class="footer__list__text">+380 (44) 259-05-11</span>
      <span class="footer__list__text">islab@unicyb.kiev.ua</span>
    </div>
  </div>
  <div class="footer__socials">
    <h3 class="semi-header">Інші посилання:</h3>
    <div class="footer__list">
      <span class="footer__list__text">Facebook</span>
      <span class="footer__list__text">Сайт факультету</span>
    </div>
  </div>
  <div class="footer__links xsmall-text">
    <span>
      © 1999-2024 <a href="/">Кафедра інтелектуальних програмних систем</a>,
      <a href="https://csc.knu.ua/en/">факультет комп'ютерних наук та кібернетики</a>,
      <a href="https://knu.ua/">Київський національний університет імені Тараса Шевченка</a>, 03022, Україна, Київ, пр.
      Академіка Глушкова 4д., к. 605-608, +380 (44) 259-05-11.
    </span>
  </div>
</div>
