.book {
  &__cover-image {
    max-width: 170px;
    margin-bottom: 24px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;

    &__title {
      font-weight: bold;
      font-size: var(--text-lg-size);
    }

    &__author {
      display: inline;
      font-weight: 300;
      font-size: var(--text-md-size);

      &.linked {
        color: #12A1DD;
        cursor: pointer;

        &:hover {
          color: #116082;
        }
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 300;
    font-size: var(--text-sm-size);

    .bold {
      font-weight: bold;
    }
  }
}
