<div class="book">
  <img
    [src]="`${env.apiUrl}/${book().photoUrl}`"
    alt="Обкладинка книги {{ book().title }}"
    class="book__cover-image"
    (click)="navigateToDoc()"
    [style]="{ cursor: book().docUrl ? 'pointer' : 'auto' }"
  />
  <div class="book__header">
    <h3 class="book__header__title">{{ book().title }}</h3>
    <div class="boo__heade__authors">
      @for (author of authors; track author; let i = $index) {
        <p class="book__header__author" [ngClass]="{'linked': author.lecturerId}" (click)="author.lecturerId && navigateToLecturer(author.lecturerId.slug)">
          @if (author.lecturerId) {
            {{ author.lecturerId.name }} {{ author.lecturerId.surname[0] }}.@if (i !== authors.length - 1) {,}
          } @else {
            {{ author.name }}@if (i !== authors.length - 1) {,}
          }
        </p>
      }
    </div>
  </div>
  <div class="book__details">
    <p class="book__details__publisher">
      <span class="bold">Видавництво:</span> {{ book().publisher }}. – {{ book().year }}
    </p>
    <p class="book__details__pages"><span class="bold">Обсяг:</span> {{ book().pages }}</p>
    <p class="book__details__language"><span class="bold">Мова:</span> {{ book().language }}</p>
    <p class="book__details__isbn"><span class="bold">ISBN:</span> {{ book().isbn }}</p>
  </div>
</div>
