.program-page {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__header {
      font-weight: 500;
      font-size: var(--text-lg-size);
    }

    &__item {
      font-weight: 300;
      font-size: var(--text-md-size);

      a {
        text-decoration: underline;
        cursor: pointer;
        color: black;
      }
    }
  }
}
