:host {
  max-width: 275px;
}

.lecturer-card {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__img {
    max-width: 170px;
    min-height: 260px;
    border-radius: 12px;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.18);
  }

  &__name {
    font-size: 32px;
    font-weight: 500;
  }

  &__titles {
    font-size: 24px;
    font-weight: 300;
  }

  &--clickable {
    cursor: pointer;
  }
}
